<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Sample Category"
            id="AnnotationSniffer.commands.category">
      </category>
      <command
            name="Sample Command"
            categoryId="AnnotationSniffer.commands.category"
            id="AnnotationSniffer.commands.sampleCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="AnnotationSniffer.commands.sampleCommand"
            class="br.inpe.cap.asniffer.handlers.AnnotationSnifferHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="AnnotationSniffer.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Annotation Sniffer"
               mnemonic="M"
               id="AnnotationSniffer.menus.sampleMenu">
            <command
                  commandId="AnnotationSniffer.commands.sampleCommand"
                  id="AnnotationSniffer.menus.sampleCommand"
                  label="Extract Annotation Metrics!"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="AnnotationSniffer.toolbars.sampleToolbar">
            <command
                  commandId="AnnotationSniffer.commands.sampleCommand"
                  icon="icons/sample.gif"
                  tooltip="Extract Annotation Metrics"
                  id="AnnotationSniffer.toolbars.sampleCommand">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
